@use "../../scss/abstract/mixins" as *;
@use "../../scss/abstract/screen-queries" as *;

.hero {
    @include respond-tablet-landscape {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    @include respond-tablet {
        padding: 10rem 5rem;
    }
    @include respond-phone {
        padding: 10rem 2rem;
    }

    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5rem;
    align-items: center;

    height: 100vh;
    margin-top: -66px;
    padding: 10rem;

    text-align: center;
}

.heading {
    display: inline;

    font-size: 5rem;

    background-image: linear-gradient(90deg, #efb293, #e08460);

    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}

.slogan {
    font-size: 1.5rem;
    color: var(--primary-hover);
}

.info {
    @include flex($align: center, $gap: 2rem);
}

.image {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 2rem;
}
